
.centerpage{
  display: grid;
  grid-template-columns:auto 10px auto;
  place-items: center;
  height: 100vh;
 
}

.centerpage > div{
    text-align: center;
    color: black;
    background: white;
    width: 320px !important;
    border: 1px;
    border-color: #828282;
    border-style: solid;
    height: 50px;
  }

.iconButton{
    color: #84bd00;
    cursor: pointer;
}

.iconButton:hover {border: gray; }

.iconButton:active {
    border: gray;
    transform: translateX(10px);
  }